default_language_version:
  python: python3.11
default_stages:
  - "push"
  - "commit"
  - "manual"
repos:
  - repo: local
    hooks:
      - id: poetry lock and update
        name: poetry lock and update
        entry: "poetry"
        args: ["update", "--with=test", "--sync"]
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
      - id: pytest
        name: pytest
        entry: "./.venv/bin/pytest"
        args:
          - "tests/units"
          - "--cov=src"
          - "--cov-report=lcov:build/coverage.lcov"
          - "--junitxml=build/junit.xml"
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
      - id: mypy
        name: mypy
        entry: "./.venv/bin/mypy"
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
  - repo: https://github.com/pylint-dev/pylint
    rev: v3.2.2
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        # Not that problematic to run in parallel see Pre-commit
        # integration in the doc for details
        # require_serial: true
        args: ["-rn", "-sn", "--rcfile=pylintrc", "--fail-on=I", "-j=4"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
      - id: pyupgrade
        args: ["--py312-plus", "--keep-runtime-typing"]
